.Sidebar {
  width: 150px;
  background-color: #ff746e;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.listRow {
  width: 100%;
  height: 70px;
  border: 1px solid #e73933;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.listRow:hover {
  cursor: pointer;
  background-color: #fa6661;
}
.listRow #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.listRow #title {
  flex: 70%;
}

button.listRow {
  background-color: #fa6661;
}
