.card-vertical {
  width: 20rem;
}

.card-vertical img {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
}

.card-title-header {
  font-size: smaller;
}

.video-desc {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.video-desc > .creator-avator {
  border: 2px solid black;
  width: 2rem;
  border-radius: 50%;
}

.video-desc > .avatar-xs-size {
  width: 3rem;
  height: 3rem;
  font-size: 0.8rem;
}

.video-desc > .avatar {
  border-radius: 50%;
  background-color: transparent;
}

.videoCards-cont {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  color: bisque;
}

.watchLater-icon,
.del-icon {
  font-size: 1.8rem;
}

.watchLater-icon:hover{
  color: rgb(37, 169, 98);
}

@media screen and (max-width: 64rem) {
  .filter-wrapper {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
