.sidebar_wrapper {
  display: flex;
}

.outlet_wrapper {
  width: 80%;
  min-width: 40vh;
  margin: 1rem 0.4rem 0 1rem;
}

@media screen and (max-width: 800px) {
  .outlet_wrapper {
    width: 100%;
  }
}
