.likeList-container {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.empty-like-main {
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .likeList-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card-vertical {
    min-height: auto;
  }
  .likeList-container {
    grid-template-columns: 1fr;
  }
}
