.playlist-modal-main {
  display: flex;
}

.modal {
  z-index: 9;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal-playlist {
  background-color: #1c2938;
  padding: 1rem;
}

.modalPlaylist-container {
  display: flex;
  justify-content: space-between;
}

.close-btn-modal {
  display: flex;
  justify-content: end;
}

.input-playlist {
  color: black;
  padding: 0.1rem 0.5rem;
  border: none;
  outline: transparent;
}

.input-playlist::placeholder {
  color: black;
  border-radius: 0.5rem;
}

.grow {
  flex-grow: 1;
}

.plus-icon {
  background-color: green;
  cursor: pointer;
}

.playlist-close-btn {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.2rem;
  cursor: pointer;
}

.delplaylistNameIcon {
  cursor: pointer;
}
