.main-product {
  display: flex;
  width: 100%;
}

.videoList-container {
  grid-row-gap: 2rem;
  row-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: auto;
}

.category-list {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  padding: 1rem;
}

.chip-ctg {
  background: -webkit-linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}
