.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 40%;
  margin: 2rem;
}

.homepage-container {
  position: relative;
}

.videoList-container {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.category-list {
  display: flex;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}

.chip-ctg {
  background: -webkit-linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}

.chip-ctg:hover {
  border-color: red;
}

@media screen and (max-width: 1080px) {
  .videoList-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card-vertical {
    min-height: 320px;
  }
  .videoList-container {
    grid-template-columns: 1fr;
  }
}
